# === Big data / analysis outputs ===
*.npy
*.npz
*.pkl
*.pickle
*.h5
*.hdf5

# SpikeInterface outputs & waveform extractions
pipeline/spikeinterface_waveform_extraction/
pipeline/Unitmatch/for_RawWaveform_extraction/

# === Python cache / misc ===
__pycache__/
*.pyc
.ipynb_checkpoints/

# Env stuff
.env
.venv/